{% extends 'base.html' %}

{% block content %}
<article style="color: white;">
    <h1>Detail</h1>
    <img src="{{ movie.poster_path }}" alt="">
    <p>
    <div style= "padding-left: 5px">
    <p>{{ movie.title }}</p>
    <p>{{ movie.release_date }}</p>
    <p>{{ movie.popularity }}</p>
    <p>{{ movie.vote_count }}</p>
    <p>{{ movie.vote_average }}</p>
    <p>{{ movie.overview }}</p>
    

{% for genre in movie.genres.all %}
    <p>{{ genre.name }}</p>
{% endfor %}
    </div>
</article>
<hr>
{% endblock %}
