{% extends 'base.html' %}

{% block content %}
  <h1 class="fw-bold text-dark">Movies</h1>
  <article class="parent" style="width:1800px">
    
    <div class="row">

    {% for movie in movies %}
    <div class="col-1">
    <a class="font-default d-block w-100 child" href="{% url 'movies:detail' movie.pk %}">
      <img style="width:150px" src="{{ movie.poster_path }}" alt="" class="">
    </a>
    </div>
    {% endfor %}
    
  
    {% comment %} <div>{{ movie.title }}</div>
    <div>{{ movie.vote_average }}</div>
    <hr> {% endcomment %}
    
  </article>
{% endblock %}
